# gemma_slide ffn_down projection GEMM  M(batch)=1 K(input)=6144 N(output)=1536
# projection-level LLM workload (attention score/context are out of scope)
[net]
height=6144
width=1
channels=1
batch=1

[data]
dataset=imagenet
test=datasets/gemm/test.lst
labels=datasets/gemm/labels.lst
top=1

[connected]
output=1536
activation=linear

[softmax]
groups=1

[cost]
type=l2
