[accelerator]
num_threads=1
num_chips=1
compression_type=dense

[adder_tree]
# PE configuration
memory_type = separate
input_buffer = 2
weight_buffer = 2
output_buffer = 2

mac_stationary = weight_stationary

# MAC computation cycle/energy
computation_cycle = 1
computation_energy = 2.2
mac_read_cycle = 1:1:1
mac_read_energy = 0:0:0
mac_write_cycle = 1:1:1
mac_write_energy = 0:0:0
mac_line_size = 16:16:16
# Local buffer read/write cycle/energy
lb_read_cycle = 1.0:1.0:1.0
lb_read_energy = 0.075:0.075:0.075
lb_write_cycle = 1.0:1.0:1.0
lb_write_energy = 0.075:0.075:0.075
lb_line_size = 16:16:16

static_energy = 0.0:0.0:0.0
# transfer cycle between MAC and Local buffer.
transfer_cycle_pe = 1
transfer_energy_pe = 0

# Frequency (MHz) and Bandwidth (MB/sec)
frequency = 200
bandwidth = 8192
bitwidth  = 256
line_size = 16:16:16

# PE array configuration
pe_stationary = weight_stationary

# Height and width of PE array
height = 1
width = 168

#PE array read/write cycle/energy
pe_array_read_cycle = 0 
pe_array_read_energy = 0
pe_array_write_cycle = 0
pe_array_write_energy = 0

# NoC type and unit cycle/energy
noc = bus
noc_cycle = 1
noc_energy = 0

# GLB configuration
[shared]
# Stationary type between GLB and DRAM
stationary_type = output_stationary

# GLB type
memory_type = shared

# GLB buffer size
memory_size = 100

# GLB read/write cycle/energy
read_cycle = 1.0:1.0:1.0
read_energy = 4.71:4.71:4.71
write_cycle = 1.0:1.0:1.0
write_energy = 4.91:4.91:4.91
bypass=0:0:0

static_energy = 0.0:0.0:0.0

# Transfer cycle/energy between PE array and GLB
transfer_cycle = 1
transfer_energy = 0

# Frequency (MHz) and Bandwidth(MB/sec)
frequency = 200
bandwidth = 8192
bitwidth  = 256
line_size = 16:16:16

[multi_chip]

stationary_type = output_stationary

memory_type = shared
memory_size = 100

height = 1
width  = 1

read_cycle = 0.0:0.0:0.0
read_energy = 0.0:0.0:0.0
write_cycle = 0.0:0.0:0.0
write_energy = 0.0:0.0:0.0

static_energy = 0.0:0.0:0.0

# Frequency (MHz) and Bandwidth(MB/sec)
frequency = 200
bandwidth = 8192
bitwidth  = 256
line_size = 16:16:16

noc = bus
noc_cycle = 1
noc_energy = 0

[dram]

dram_config = DRAM/DDR3_8Gb_x16_1600.ini
output_dir = maeri_DRAM

read_cycle = 2.75:2.75:2.75
read_energy = 64:64:64

write_cycle = 2.75:2.75:2.75
write_energy = 64:64:64

transfer_cycle = 2.75:2.75:2.75
transfer_energy = 0

# Frequency (MHz) and Bandwidth(MB/sec)
frequency = 200
bandwidth = 8192
bitwidth  = 256
line_size = 16:16:16
